<div class="coffee">
  <div class="home-container" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h1>SMITH COFFEE CO.</h1>
      <p>Welcome to Smith Coffee Co. We are a small batch coffee roaster located in the heart of the city. We are dedicated to providing the best coffee experience to our customers.</p>
      <p class="price">$12.99</p>
      <p><a href="show.html">Discover our coffee</a></p>
      <p>Our selection of coffee</p>
    </div>

    <div class = "home-img">
      <%= image_tag 'americano.jpg', alt: 'coffee' %>
    </div>
